<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- BOOTSWATCH -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1 id="six"><%= title %></h1>
    <audio id="myAudio">
      <source src="/stylesheets/johncenaen_738owayt.mp3" type="audio/mp3">
    </audio>
    <div id="movie-container">
    </div>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
